#!/usr/bin/env bash
WORKDIR=$(CDPATH="cd -- $(dirname -- "$0")" && pwd -P)
export WORKDIR

CACHEDIR="${WORKDIR}/.cache"
export CACHEDIR
mkdir -p "${CACHEDIR}"

make -C "${WORKDIR}" install
# shellcheck source=/dev/null
source "${WORKDIR}/.venv/bin/activate"

